[submodule "dotfiles/vim"]
	path = dotfiles/vim
	url = git://github.com/davenquinn/janus.git
[submodule "dotfiles/vim-plugins/csapprox"]
	path = dotfiles/vim-plugins/csapprox
	url = git://github.com/godlygeek/csapprox.git
[submodule "dotfiles/vim-plugins/unite.vim"]
	path = dotfiles/vim-plugins/unite.vim
	url = git://github.com/Shougo/unite.vim.git
[submodule "dotfiles/vim-plugins/ranger.vim"]
	path = dotfiles/vim-plugins/ranger.vim
	url = git://github.com/francoiscabrol/ranger.vim.git
